<!DOCTYPE html>
<html lang="en">
<head>
    {{! Metatags }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TODO">
    <meta name="author" content="Sarat Tallamraju">

    {{! css }}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

    {{! js }}
    <script src="/jquery/jquery.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>
    {{! TODO(Sarat): Don't use reload.js in prod environment }}
    <script src="/reload/reload.js"></script>
    <script src="/js/main.js"></script>

    <meta charset="utf-8">
    <title>Finance</title>
</head>
<body>
    <nav class="navbar navbar-toggleable-md fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/assets/favicon.ico" width="30" height="30" alt=""></img>
        </a>
        <a class="navbar-brand" href="#">Finance</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Engine<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
    {{{body}}}
</body>
</html>
