<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TODO">
    <meta name="author" content="Sarat Tallamraju">

    <link rel="stylesheet" href="/style/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/style/js/bootstrap.min.js"></script>

    {{! Don't use reload.js in prod environment}}
    <script src="/reload/reload.js"></script>

    <script src="/js/main.js"></script>

    <meta charset="utf-8">
    <title>Finance</title>
</head>
<body>
    {{{body}}}
</body>
</html>
