<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/style/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
<script src="/style/js/bootstrap.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>Finance</title>
</head>
<body>
    {{{body}}}
</body>
</html>
