<template name='header'>

    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{{pathFor 'main'}}">Finance</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="{{isActiveRoute regex='main'}}"><a href="{{pathFor 'main'}}">Overview</a></li>
                    <li class="{{isActiveRoute regex='securities'}}"><a href="{{pathFor 'securities'}}">Securities</a></li>
                    <li class="{{isActiveRoute regex='entities'}}"><a href="{{pathFor 'entities'}}">Entities</a></li>
                    <li class="{{isActiveRoute regex='transactions'}}"><a href="{{pathFor 'transactions'}}">Transactions</a></li>
                </ul>

                <!-- Right Nav Section -->
                <ul class="right">
                    <li>{{> atNavButton}}</li>
                </ul>

            </section>
        </nav>
    </div>

</template>
